<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>t7-discovery</string>
	<key>CFBundleIdentifier</key>
	<string>com.t7shield.proto.t7-discovery</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>t7-discovery</string>
	<key>CFBundlePackageType</key>
	<string>DEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>T7DiscoveryDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.t7shield.proto.t7-discovery</string>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOProbeScore</key>
			<integer>91000</integer>
			<key>IOProviderClass</key>
			<string>IOSCSIHierarchicalLogicalUnit</string>
			<key>IOUserClass</key>
			<string>T7DiscoveryDriver</string>
			<key>IOUserServerName</key>
			<string>com.t7shield.proto.t7-discovery</string>
			<!-- LUN 属性精确匹配（真机 ioreg 一手数据）：
			     PDT=0（SBC 磁盘）、厂商 Samsung、型号 PSSD T7 Shield -->
			<key>Peripheral Device Type</key>
			<integer>0</integer>
			<key>Vendor Identification</key>
			<string>Samsung</string>
			<key>Product Identification</key>
			<string>PSSD T7 Shield</string>
			<key>UserClientProperties</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserUserClient</string>
				<key>IOUserClass</key>
				<string>T7DiscoveryUserClient</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
